
/*all*/
body{
    background-color:#FCAB64;
}
nav{
    background-color:#FCFFD9;
    border: 2px solid;
    padding: 5px;
}
h1{
    text-align: center;
}
.space{
    padding: 15px;
}
a{
    color:#394060
}
a:hover{
    color:#7FD8BE
}
.clear{
    clear:both;
}
@media only screen and (max-width: 800px){
    nav a {display: block; max-width:100%; padding-bottom:5px;}
    span{display: none;}
    img{width:100%}
}


/*seville*/
.col1,.col2{
    flex:1;
    margin: 10px;
}
.row1{
    margin: 20px;
    /*padding: 20px;*/
    display: flex; 
    flex-wrap: wrap;
}
.sevbio{
    background-color: #F7DCA9;
    padding: 5px;
    border: 2px solid;
    /*border-radius: 2em;*/
}
.sevbody{
    background-color: #F7DCA9;
    padding: 5px;
    border: 2px solid;
    /*border-radius: 2em;*/
}

/*copenhagen*/
.col1cop{
    float: left; 
    margin-right: 10px;
    /*flex:1;
    margin: 10px;*/
}
.col2cop{
    flex:2;
    /*margin: 10px; */
}
.row1cop{
    /*margin: 5px;*/
    /*padding: 20px;*/
    display:flex; 
    flex-wrap: wrap;
}
.col3cop{
    float: left; 
    margin-right: 5px;
    /*flex:1;
    margin: 10px;*/
}
.col4cop{
    flex:4;
    margin: 10px;
}
.row2cop{
    /*padding: 5px;*/
    display:flex; 
    flex-wrap: wrap;
}
.copbio{
    background-color: #F7DCA9;
    padding: 5px;
    border: 2px solid;
    /*border-radius: 2em;*/
}
.copbody{
    background-color: #F7DCA9;
    padding: 5px;
    border: 2px solid;
    /*border-radius: 2em;*/
}

/*index*/
.notecities{
    background-color:#FCFFD9;
    border: 2px solid;
    padding: 5px;
}
.biobody{
    background-color: #F7DCA9;
    border: 2px solid;
    padding: 5px;
}
.mypic{
    float: left; 
    margin-right: 5px;
}